body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.header-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.header-container .menu-logo{
    display: flex;
    align-items: center;
}
.header-container .buttons{
    display: flex;
    align-items: center;
}
.header-container .menu-logo .menus{
    margin-left: 30px;
}
.menu-logo h4{
    font-size: 20px;
    font-weight:800;
}
 .menu-logo .menus a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 12px;
    color: grey;
 }
 .menus a:hover{
    color: black;
 }
  .buttons #btn1 {
    color: grey;
    text-decoration: none;
    font-size: 12px;
    margin-left:10px ;
 }
 .hamburger{
   display: flex;
   align-items: center;
 }
 .buttons #btn1:hover{
    color: black;
 }
 .buttons #btn2 {
    color: grey;
    text-decoration: none;
    font-size: 12px;
    margin-left:10px ;
    border: 1px solid grey;
    padding: 8px 16px;
    border-radius: 10px;
 }
 .buttons #btn2:hover{
    color: black;
    border: 1px solid black;
 }
 
  main .hero-section .hero-container{
    display:flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
 }
 .hero-container .text-content{
    padding-right: 50px;
 }
 .image-section img{
    width: 400px;
    height: max-content;
 }
 h1{
    font-size:50px;
    margin: 0;
 }
 .paragraph-text p{
    font-size: 13px;
    margin: 0;
    margin-bottom: 20px;
    line-height: 24px;
 }
 .paragraph-text a{
    color:white;
    background-color: black;
    text-decoration: none;
    font-size: 12px;
    border:none;
    padding: 8px 16px;
    border-radius: 10px;
}
.paragraph-text a:hover{
    color: black;
    background-color: white;
    border:1px solid black;
}
 .text-content .brands{
    margin-top:40px;
 }
 .text-content .brands img{
    width: 40px;
    margin-right: 20px;
    filter: grayscale(10);
 }


@media (max-width:992px) {
     header .menus{
    display: none;
}
   .header-container .buttons{
    display:none;
}
.image-section img{
    display: none;
 }
   main .hero-section .hero-container{
    display:flex;
    flex-direction: column;
 }
   main .hero-section{
    padding: 20px;
 }
    .hero-container .text-content{
      padding: 0;
    text-align: center;
 }
  .title{
    display:flex;
    justify-content: center;
 }
 #heading2{
   margin-left:3px;
 }
.hero-container .mobile-image img{
   width:300px;
 }
 h1{
    font-size:20px;
}
}



@media (min-width:993px) {
    .hamburger{
   display:none;
 }
 .hero-container .mobile-image{
   display: none;
 }
}
